---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import FormattedDateArray from '../components/FormattedDateArray.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
const isProd = process.env.NODE_ENV === 'production';
let posts = (await getCollection('blog'))
    .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.filter((post) => post.data.isPublished && post.data.pubDate.valueOf() > Date.now());
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<style>
		h1 {
			text-align: center;
			margin-top: 2rem;
			font-size: 3rem;
		}
	</style>
	<body>
		<Header />
		<main>
            <h1>📊 Posts à venir</h1>
            <table>
                <tr>
                    <th>Image</th>
                    <th>Titre</th>
					<th>Description</th>
                    <th>Date de publication</th>
                </tr>
					{
						posts.map((post) => (
							<tr>
								<td>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
                                </td>
								<td>
									<p class="title">{post.data.title}</p>
								</td>
								<td><p>{post.data.description}</p></td>
                                <td>
                                    <p class="date">
                                        <FormattedDateArray date={post.data.pubDate} />
                                    </p>
                                </td>
							</tr>
						))
					}
				</table>

        </main>

		<Footer />
	</body>
</html>
